.profile-screen{
    height: 100vh;
    color: white;

}

.profile-screen-body{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: max(8%, 80px);
    max-width: 800px;
}

.profile-screen-info{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 25px;
}

.profile-screen-details{
    color: white;
    /* margin-left: 25px; */
    flex: 1;
}

.profile-screen-details>h2{
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profile-screen-info>img{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.profile-screen-body>h1{
    font-size: 3rem;
    font-weight: 500;
    border-bottom: 1px solid #282c2d;

}

.profile-screen-signout{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2px;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #e50914;
}

.profile-screen-plans{
    margin-top: 20px;
}

.profile-screen-plans>h3{
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}